<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>cuestionario</title>
</head>
<body>
	
</body>
    <FONT FACE="times new roman">

<h3>Crear Cuestionario</h3>


Pregunta <br/>
<input type="text" name="Pregunta" value="" size="20" maxlength="50" />

<br/>

Respuestas <br/>
<input type="text" name="Respuestas" value="" size="50" maxlength="80" />

<br/>

Respuestas <br/>
<input type="text" name="Respuestas" value="" size="50" maxlength="80" />

<br/>

Respuestas <br/>
<input type="text" name="Respuestas" value="" size="50" maxlength="80" />

<br/>

Respuestas <br/>
<input type="text" name="Respuestas" value="" size="50" maxlength="80" />

<br/>


Opcion <br/>
<input type="radio" name="opcion" value="Verdadero" checked="checked" /> Verdadero <br/>
<input type="radio" name="opcion" value="Falso" /> Falso

<br/><br/>

Incluir archivo <input type="file" name="archivo" />



<input type="submit" name="enviar" value="Guardar cambios" />
<input type="reset" name="limpiar" value="Borrar los datos introducidos" />

</FONT>
</form>